<section
  class="bg-gray-900 flex flex-col pt-[250px] items-center h-screen w-full z-50"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="text-white size-32"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M3 7v4a1 1 0 0 0 1 1h3" />
    <path d="M7 7v10" />
    <path
      d="M10 8v8a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-8a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1z"
    />
    <path d="M17 7v4a1 1 0 0 0 1 1h3" />
    <path d="M21 7v10" />
  </svg>
  <h1 class="text-white text-center px-5 mb-10">
    Lo sentimos, no hemos encontrado la página.
  </h1>
  <button
    type="button"
    (click)="onClickBackHome()"
    class="px-5 mt-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
  >
    Volver al Home
  </button>
</section>
