<shared-loader *ngIf="isLoading"></shared-loader>
<section class="bg-gray-50 dark:bg-gray-900 h-full">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0"
  >
    <p
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      Tus Notas
    </p>
    <div
      class="w-full bg-white rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Inicia sesión con tu cuenta
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          [formGroup]="loginForm"
          (ngSubmit)="onClickLogin()"
        >
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Ingresa tu correo</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 border text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white outline-none"
              placeholder="correo@correo.com"
              formControlName="email"
              (blur)="onBlurEvent($event)"
              (input)="onChangeEvent($event)"
            />
            <p
              style="margin: 0"
              class="{{ errorsInputs.email ? 'pt-3' : '' }} text-red-200"
            >
              {{ errorsInputs.email }}
            </p>
          </div>
          <div class="relative">
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Ingresa tu contraseña</label
            >
            <svg
              *ngIf="!showPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="absolute top-9 right-5 size-6 text-white cursor-pointer"
              (click)="onClickShowPassword()"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M5 11m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"
              />
              <path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
              <path d="M8 11v-5a4 4 0 0 1 8 0" />
            </svg>
            <svg
              *ngIf="showPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="absolute top-9 right-5 size-6 text-white cursor-pointer"
              (click)="onClickShowPassword()"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"
              />
              <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
              <path d="M8 11v-4a4 4 0 1 1 8 0v4" />
            </svg>
            <input
              type="{{ typePassword }}"
              name="password"
              id="password"
              formControlName="password"
              placeholder="••••••••"
              (blur)="onBlurEvent($event)"
              (input)="onChangeEvent($event)"
              class="bg-gray-50 border text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white outline-none"
            />
            <p
              style="margin: 0"
              class="{{ errorsInputs.password ? 'pt-3' : '' }} text-red-200"
            >
              {{ errorsInputs.password }}
            </p>
          </div>
          <div class="flex items-center justify-between">
            <p
              href="#"
              class="text-sm font-medium text-blue-200 hover:underline hover:cursor-pointer"
            >
              ¿Olvidaste tu contraseña?
            </p>
          </div>
          <button
            type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Iniciar sesión
          </button>
          <button
            type="button"
            (click)="onClickLoginGoogle()"
            class="outline-none text-white border border-gray-600 w-full bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center justify-between mr-2 mb-2"
          >
            <svg
              class="mr-2 -ml-1 w-4 h-4"
              aria-hidden="true"
              focusable="false"
              data-prefix="fab"
              data-icon="google"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 488 512"
            >
              <path
                fill="currentColor"
                d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
              ></path></svg
            >Iniciar sesión con Google

            <div></div>
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            No tienes una cuenta?
            <a
              href="/auth/register"
              class="font-medium text-primary-600 hover:underline dark:text-primary-500"
              >Resgistrarme</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
